<main class="flex f justify-center items-center w-full min-h-dvh py-4">
  <p-toast></p-toast>
  
  <div class="w-full flex-1 flex items-center flex-col">
    <h1 class="text-3xl input-width px-8 mb-6">Sign Up!</h1>
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" class="input-width px-8">
      <div class="input-width">
        <p-floatlabel variant="on">
          <input pInputText id="firstName" formControlName="firstName" style="width: 100%" />
          <label for="firstName">First Name</label>
        </p-floatlabel>
        <p class="h-8">
          <small *ngIf="
              signupForm.get('firstName')?.invalid &&
              signupForm.get('firstName')?.touched
            " class="text-red-600 h-10">
            First Name is required.
          </small>
        </p>
      </div>
      <div class="input-width">
        <p-floatlabel variant="on">
          <input pInputText id="lastName" formControlName="lastName" style="width: 100%" />
          <label for="firstName">Last Name</label>
        </p-floatlabel>
        <p class="h-8">
          <small *ngIf="
              signupForm.get('lastName')?.invalid &&
              signupForm.get('lastName')?.touched
            " class="text-red-600 h-10">
            Last Name is required.
          </small>
        </p>
      </div>
      <div class="input-width">
        <p-floatlabel variant="on">
          <input pInputText id="email" type="email" formControlName="email" style="width: 100%" />
          <label for="email">Email</label>
        </p-floatlabel>
        <p class="h-8">
          <small *ngIf="
              signupForm.get('email')?.touched &&
              signupForm.get('email')?.errors?.['required']
            " class="text-red-600 h-10">
            Email is required.
          </small>
          <small *ngIf="
              signupForm.get('email')?.touched &&
              signupForm.get('email')?.errors?.['email']
            " class="text-red-600 h-10">
            Enter a valid email.
          </small>
        </p>
      </div>
      <div class="">
        <p-floatlabel variant="on">
          <input pInputText id="password" type="password" formControlName="password" style="width: 100%" />
          <label for="password">Password</label>
        </p-floatlabel>
        <p class="h-6">
          <small *ngIf="
              signupForm.get('password')?.invalid &&
              signupForm.get('password')?.touched
            " class="text-red-600">
            Password is required.
          </small>
        </p>
      </div>
      <p class="text-center mb-2">or continue with</p>
      <button
       (click)="signinWithGoogle()"
       type="button"
        class="w-full my-4 bg-[var(--p-code-background)]  p-2 text-lg border rounded-md flex items-center justify-center gap-4">
        <img src="https://img.icons8.com/color/48/000000/google-logo.png" alt=""  height="30" width="30" />
        Login with Google
      </button>
      <p class="text-sm text-right">
        Already have an account?
        <span>
          <a routerLink="/signin" class="text-bold text-lg cursor-pointer">Signin</a>
        </span>
      </p>
      <p-button label="signup" size="small" type="submit" styleClass="w-full mt-2" [disabled]="signupForm.invalid" />
    </form>
  </div>
  <div *ngIf="isLoading() " class="h-dvh w-full flex items-center justify-center backdrop-brightness-50  fixed">
    <p-progress-spinner ariaLabel="loading" />
  </div>
</main>