/* Style the non-clickable header item */

.profile-name {
  font-size: 16px;
  font-weight: bold;
  color: #333; /* Darker color for better contrast */
  cursor: default; /* Indicate that this is not clickable */
}

@media (max-width: 768px) {
  .profile-name {
    display: none;
  }
  .app-title {
    display: none;
  }
}

.trigger {
  font-size: 18px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
  /* Or your preferred highlight color */
}

.inner-content {
  min-height: calc(100dvh - 68px);
  max-width: 1024px;
  margin: 0 auto;
}
.custom-sider {
  background-color: #f0f2f5; /* Light background for the sider */
  transition: width 0.3s ease;
  @media screen and (max-width: 768px) {
    width: 100% !important; /* Full width on mobile */
    display: none !important; /* Hide sider on mobile */
  }
}



@media (max-width: 767px) {
  .main-sider {
    display: none;
  }
}
 nz-drawer {
  padding: 0 !important;
  margin: 0;
  background-color: red !important;
}