.input-width {
  width: min(100%, 500px);
}

.margin-top-10 {
  margin-top: 2.5rem;
}

:host ::ng-deep .p-button {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  gap: 0.5rem;
}