<div style="margin-inline: 1rem;">
    <nz-tabs>
        <nz-tab nzTitle="My Sheets">
            <div style="display: flex; justify-content: space-between; align-items: center;">
                <button nz-button nzSize="small" nzType="primary" nzShape="round" (click)="openCreateSheetModal()"
                    style="margin-bottom: 1rem; margin-left: auto; ">Create New Sheet</button>
            </div>
            <div style="max-height: calc(100dvh - 130px); overflow-y: auto;">
                @if (!loading()) {
                @for (sheet of sheets(); track $index) {
                <nz-card style=" margin: 0 auto; margin-bottom: 1rem;" [nzTitle]="sheet.title"
                    [nzExtra]="extraTemplate">
                    <div>
                        <p>{{ sheet.title }}</p>
                        <p>{{ sheet.slug }}</p>
                    </div>
                    <button nz-button nzType="primary" nzSize="small" nzShape="round" (click)="openCreateQuestionModal(sheet.id)">Add
                        Question</button>
                </nz-card>
                <ng-template #extraTemplate>
                    <div style="width: 100%; display: flex; gap: 2rem;">
                        <a (click)="copyToClipboard(sheet.slug)"> <nz-icon nzType="share-alt" nzTheme="outline"></nz-icon> Share</a>
                        <a [routerLink]="['/sheet',sheet.id]"> <nz-icon nzType="eye" nzTheme="outline"></nz-icon> View</a>
                    </div>
                </ng-template>
                } @empty {
                <nz-card>
                    <nz-empty nzNotFoundImage="https://gw.alipayobjects.com/zos/antfincdn/ZHrcdLPrvN/empty.svg"
                        [nzNotFoundContent]="contentTpl">
                        <ng-template #contentTpl>
                            <p>
                                No sheets available.
                            </p>
                            <button (click)="openCreateSheetModal()" nz-button nzType="link">Create a new sheet</button>

                        </ng-template>

                    </nz-empty>
                </nz-card>
                }
                }@else {
                <nz-card>
                    <div style="display: flex; justify-content: center; align-items: center; height: 160px;">
                        <nz-spin nzSimple [nzSize]="'large'">
                            <p>Loading sheets...</p>
                        </nz-spin>
                    </div>
                </nz-card>
                }
            </div>
        </nz-tab>
        <nz-tab nzTitle="Shared Sheets">
            @if (!loading()) {
            @for (sheet of sharedSheets(); track $index) {
            <nz-card style=" margin: 0 auto; margin-bottom: 1rem;" [nzTitle]="sheet.title" [nzExtra]="extraTemplate">
                <p>{{ sheet.title }}</p>
                <p>{{ sheet.slug }}</p>
            </nz-card>
            <ng-template #extraTemplate>
                <div style="width: 100%; display: flex; gap: 1rem;">
                    <a (click)="copyToClipboard(sheet.slug)">Share</a>
                    <a [routerLink]="['/sheet',sheet.id]">View</a>
                </div>
            </ng-template>
            } @empty {
            <nz-card>
                <nz-empty nzNotFoundImage="https://gw.alipayobjects.com/zos/antfincdn/ZHrcdLPrvN/empty.svg"
                    [nzNotFoundContent]="contentTpl">
                    <ng-template #contentTpl>
                        <p>
                            Ask your friends to share their sheets with you!
                        </p>
                    </ng-template>

                </nz-empty>
            </nz-card>
            }
            }@else {
            <nz-card>
                <nz-spin nzSimple [nzSize]="'large'">
                    <p>Loading shared sheets...</p>
                </nz-spin>
            </nz-card>
            }
        </nz-tab>
    </nz-tabs>
    <!-- <ng-template #extraTemplate>
        <button nz-button nzType="primary" nzShape="round" (click)="openCreateSheetModal()" nz-button>Create</button>
    </ng-template> -->
</div>