<main class="flex f justify-center items-center w-full h-dvh">
  <div class="w-full flex-1 flex items-center flex-col ">
    <h1 class="text-3xl input-width px-8 !mb-2">Sign Up!</h1>
    <p class="input-width px-6 !mb-8">Start your DSA journey today!</p>
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" class="input-width px-8">
      <div class="input-width">
        <p-floatlabel variant="on">
          <input pInputText id="firstName" formControlName="firstName" style="width: 100%" />
          <label for="firstName">First Name</label>
        </p-floatlabel>
        <p class="h-8">
          <small *ngIf="
              signupForm.get('firstName')?.invalid &&
              signupForm.get('firstName')?.touched
            " class="text-red-600 h-10">
            First Name is required.
          </small>
        </p>
      </div>
      <div class="input-width">
        <p-floatlabel variant="on">
          <input pInputText id="lastName" formControlName="lastName" style="width: 100%" />
          <label for="firstName">Last Name</label>
        </p-floatlabel>
        <p class="h-8">
          <small *ngIf="
              signupForm.get('lastName')?.invalid &&
              signupForm.get('lastName')?.touched
            " class="text-red-600 h-10">
            Last Name is required.
          </small>
        </p>
      </div>
      <div class="input-width">
        <p-floatlabel variant="on">
          <input pInputText id="email" formControlName="email" style="width: 100%" />
          <label for="email">Email</label>
        </p-floatlabel>
        <p class="h-8">
          <small *ngIf="
              signupForm.get('email')?.invalid &&
              signupForm.get('email')?.touched
            " class="text-red-600 h-10">
            Email is required.
          </small>
        </p>
      </div>
      <div class="">
        <p-floatlabel variant="on">
          <p-inputgroup>
            <input [type]="showPassword ? 'text' : 'password'" pInputText id="password" formControlName="password"
              style="width: 100%" />
            <p-inputgroup-addon>
              <p-button [icon]="showPassword ? 'pi pi-eye-slash' : 'pi pi-eye'" severity="secondary" variant="text"
                (click)="showPassword = !showPassword" />
            </p-inputgroup-addon>
          </p-inputgroup>
          <label for="password">Password</label>
        </p-floatlabel>
        <p class="h-8">
          <small *ngIf="
              signupForm.get('password')?.invalid &&
              signupForm.get('password')?.touched
            " class="text-red-600">
            Password is required.
          </small>
        </p>
      </div>
      <p class="text-sm text-right">
        Already have an account?
        <span>
          <a routerLink="/signin" class="text-bold text-lg cursor-pointer"> <span
              class="text-[var(--p-primary-600)]">Signin</span></a>
        </span>
      </p>
      <p-button label="Signup" size="small" type="submit" styleClass="w-full mt-2" [disabled]="signupForm.invalid" />
    </form>
  </div>
</main>