@if (isLoading()) {
<p-progressbar *ngIf="isLoading()" mode="indeterminate" [style]="{ height: '4px' }" />

} @else {
<div class="m-auto w-[min(100%,800px)]  min-h-[calc(100vh-76px)] p-2">
  <ng-container *ngIf="questions().length > 0; else elseBlock">
    <div class="min-h-[calc(100dvh-164px)]">
      <div *ngFor="let question of questions(); let index = index"
        class="px-4 py-3 rounded-md flex items-center justify-between gap-8" [ngClass]="{
        'bg-[var(--p-surface-800)]': index % 2 === 0
      }">
        <a [href]="question.link" target="_blank" class="w-[70%]">
          <span class="cursor-pointer hover:text-green-300">
            {{ question.title }}
          </span>
        </a>
        <p-button (onClick)="markAsDone(question)" icon="pi pi-check" [rounded]="true" variant="text" />
      </div>
    </div>
  </ng-container>

  <ng-template #elseBlock>
    <div class="min-h-[calc(100dvh-164px)] flex items-center justify-center">
      <img src="assets/images/no_result.svg" alt="No results" class="h-96 w-auto object-cover" />
    </div>
  </ng-template>
</div>
}