.question-card {
    margin-bottom: 1rem;
    border-radius: 16px;
}

nz-tag {
    border-radius: 16px;
}

.loading-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
}
nz-card {
    border-radius: 16px;;
}