<main class="flex flex-col md:flex-row justify-center items-center w-full min-h-dvh py-4">
  <p-toast></p-toast>
  <img src="assets/images/signin.svg" alt="" class="h-96 w-full md:flex-1" />
  <div class="w-full flex-1">
    <h1 class="text-3xl input-width px-8">Welcome Back!</h1>
    <p class="input-width px-8 mb-8">Signin to your account</p>
    <form [formGroup]="signinForm" (ngSubmit)="onSubmit()" class="input-width px-8">
      <div class="input-width">
        <p-floatlabel variant="on">
          <input pInputText id="email" type="email" formControlName="email" style="width: 100%" />
          <label for="email">Email</label>
        </p-floatlabel>
        <p class="h-8">
          <small *ngIf="
      signinForm.get('email')?.touched &&
      signinForm.get('email')?.errors?.['required']
    " class="text-red-600">
            Email is required.
          </small>
          <small *ngIf="
      signinForm.get('email')?.touched &&
      signinForm.get('email')?.errors?.['email']
    " class="text-red-600">
            Please enter a valid email.
          </small>
        </p>

      </div>
      <div class="">
        <p-floatlabel variant="on">
          <input pInputText id="password" type="password" formControlName="password" style="width: 100%" />
          <label for="password">Password</label>
        </p-floatlabel>
        <p class="h-5">
          <small *ngIf="
              signinForm.get('password')?.invalid &&
              signinForm.get('password')?.touched
            " class="text-red-600">
            Password is required.
          </small>
        </p>
      </div>
     
       <p class="text-center mb-2">or continue with</p>
      <button
       (click)="signinWithGoogle()"
       type="button"
        class="w-full my-4 bg-[var(--p-code-background)]  p-2 text-lg border rounded-md flex items-center justify-center gap-4">
        <img src="https://img.icons8.com/color/48/000000/google-logo.png" alt=""  height="30" width="30" />
        Login with Google
      </button>

      <p class="text-sm text-right">
        Don't have an account?
        <span>
          <a routerLink="/signup" class="text-bold text-lg cursor-pointer text-[var(--p-primary-400)]">Signup</a>
        </span>
      </p>
      <p-button label="Signin" size="small" type="submit" styleClass="w-full mt-2" [disabled]="signinForm.invalid" />
    </form>
  </div>
  <div *ngIf="isLoading()" class="h-dvh w-full flex items-center justify-center backdrop-brightness-50  fixed">
    <p-progress-spinner ariaLabel="loading" />
  </div>
</main>