<div
  class="px-4 py-1 rounded-md flex items-center justify-between gap-8"
  [ngClass]="{
    'bg-[var(--p-surface-800)]': index() % 2 === 0
  }"
>
  <a [href]="question().link" target="_blank" class="w-[70%]">
    <span class="cursor-pointer hover:text-green-300">{{
      question().title
    }}</span>
  </a>
  <div class="flex items-center justify-center gap-4">
    <p-button
      [icon]="isMarkedForRevision() ? 'pi pi-star-fill' : 'pi pi-star'"
      [rounded]="true"
      (onClick)="toggleRevision()"
      variant="text"
    />
    <p-button
      [icon]="isBookmarked() ? 'pi pi-bookmark-fill' : 'pi pi-bookmark'"
      (onClick)="toggleBookmark()"
      variant="text"
      [rounded]="true"
    />
  </div>
</div>
