<form [formGroup]="categoryForm" (ngSubmit)="onSubmit()">
  <div class="card p-fluid" style="width: 100%;
    min-width: min(500px, calc(100% - 1rem));
    margin: auto;
    height: full;">
    <div class="flex flex-col">
      <input id="name" type="text" pInputText formControlName="name" placeholder="Enter category name" />
      <small *ngIf="
          categoryForm.get('name')?.invalid && categoryForm.get('name')?.touched
        " class="text-red-600">
        Category name is required.
      </small>
    </div>
    <div class="flex justify-end gap-2 mt-4">
      <p-button label="Cancel" rounded="true" size="small" variant="text" severity="danger" (onClick)="onClose()" />
      <p-button label="Save" rounded="true" size="small" type="submit" />
    </div>
  </div>
</form>