<div class="form-container p-6  rounded-xl shadow-md">
    <form [formGroup]="questionForm" (ngSubmit)="submitForm()" class="flex flex-col gap-5">

        <!-- Title -->
        <div class="flex flex-col">
            <label for="title" class="font-medium ">Title <span class="text-red-500">*</span></label>
            <input pInputText id="title" formControlName="title" placeholder="e.g., Two Sum" class="w-full" />
            <p class="h-2">
                <small class="text-red-500"
                    *ngIf="questionForm.get('title')?.invalid && questionForm.get('title')?.touched">
                    Please input the question title!
                </small>
            </p>
        </div>

        <!-- Link -->
        <div class="flex flex-col">
            <label for="link" class="font-medium ">Link <span class="text-red-500">*</span></label>
            <input pInputText id="link" formControlName="link" placeholder="https://example.com/problems/two-sum"
                class="w-full" />
            <p class="h-2">
                <small class="text-red-500 "
                    *ngIf="questionForm.get('link')?.hasError('required') && questionForm.get('link')?.touched">
                    Please input the URL!
                </small>
                <small class="text-red-500  "
                    *ngIf="questionForm.get('link')?.hasError('pattern') && questionForm.get('link')?.touched">
                    The input is not a valid URL!
                </small>
            </p>
        </div>

        <!-- Category -->
        <div class="flex flex-col">
            <label for="category" class="font-medium">Category <span class="text-red-500">*</span></label>
            <p-select tabindex="-1" appendTo="body" [options]="categories" optionLabel="name" optionValue="id"
                formControlName="categoryId" placeholder="Select a category" class="w-full"></p-select>
            <p class="h-2">
                <small class="text-red-500"
                    *ngIf="questionForm.get('categoryId')?.invalid && questionForm.get('categoryId')?.touched">
                    Please select a category!
                </small>
            </p>
        </div>

        <!-- Difficulty -->
        <div class="flex flex-col">
            <label for="difficulty" class="font-medium">Difficulty <span class="text-red-500">*</span></label>
            <p-select tabindex="-1" appendTo="body" [options]="DIFFICULTIES" formControlName="difficulty"
                placeholder="Select a difficulty level" class="w-full"></p-select>
            <p class="h-2">
                <small class="text-red-500"
                    *ngIf="questionForm.get('difficulty')?.invalid && questionForm.get('difficulty')?.touched">
                    Please select a difficulty level!
                </small>
            </p>
        </div>

        <!-- Question Pattern -->
        <div class="flex flex-col">
            <label for="questionPatternId" class="font-medium">Question Pattern</label>
            <p-select tabindex="-1" appendTo="body" [options]="questionPatterns" optionLabel="name" optionValue="id"
                formControlName="questionPatternId" placeholder="Select a question pattern (optional)" class="w-full">
            </p-select>
        </div>

        <!-- Submit -->
        <div class="flex justify-end">
            <button pButton type="submit" [label]="submitButtonText" [icon]="submitButtonIcon"
                class="p-button-primary w-full !mt-4" [loading]="isSubmitting"
                [disabled]="questionForm.invalid"></button>
        </div>
    </form>
</div>